html{
  background-color: #222;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 3rem;
}

img {
  max-width: 50%;
}

main {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0;
  background-color: #eee;


}

h1 {
  font-weight: thin;
  padding-top: .5rem;
  color: #595959;
  padding-bottom: 0;
}

.line-separator {
  height: 1.75px;
  background-color: #cccccc;
  padding: 0;
  max-width: 25rem;
  align: center;
}

.deux {
  background-color: #ddd;
  padding-bottom: .25rem;
}

.micro {
  padding-top: 1rem;
}

@media only screen and (min-width: 650px) {
  main {
    max-width: 50%;
    align: center;
  }
}

@media only screen and (min-width: 980px) {
  main {
    max-width: 30%;
  }
}

@media only screen and (min-width: 1440px) {
  main {
    max-width: 30%;
  }
}
